@page "/"

<h1 id="hh"><em><b>@themeName</b></em></h1>

<h4 id="h">@myname</h4>

<p id="h">@DateTime.Now</p>


@code{

    private string myname = "Prabhjot Singh";
    private string themeName = "Cars";
    
}