@page
@model cars.Pages_cars1.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>cars1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cars1.Name" class="control-label"></label>
                <input asp-for="cars1.Name" class="form-control" />
                <span asp-validation-for="cars1.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.BuildYear" class="control-label"></label>
                <input asp-for="cars1.BuildYear" class="form-control" />
                <span asp-validation-for="cars1.BuildYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Company" class="control-label"></label>
                <input asp-for="cars1.Company" class="form-control" />
                <span asp-validation-for="cars1.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Engine" class="control-label"></label>
                <input asp-for="cars1.Engine" class="form-control" />
                <span asp-validation-for="cars1.Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Country" class="control-label"></label>
                <input asp-for="cars1.Country" class="form-control" />
                <span asp-validation-for="cars1.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Features" class="control-label"></label>
                <input asp-for="cars1.Features" class="form-control" />
                <span asp-validation-for="cars1.Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Price" class="control-label"></label>
                <input asp-for="cars1.Price" class="form-control" />
                <span asp-validation-for="cars1.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Rating" class="control-label"></label>
                <input asp-for="cars1.Rating" class="form-control" />
                <span asp-validation-for="cars1.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cars1.Colour" class="control-label"></label>
                <input asp-for="cars1.Colour" class="form-control" />
                <span asp-validation-for="cars1.Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
